@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248 250 252;
  --foreground: 15 23 42;
}

.dark {
  --background: 2 6 23;
  --foreground: 248 250 252;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
